PORT=4000
DATABASE_POSTGRESQL_URL=connection_string_postgresql
DATABASE_MONGODB_URL=connection_string_mongo
JWT_SECRET=my_hashing_string

SMTP_HOST=my_smtp_host
SMTP_PORT=my_smtp_port
SMTP_USER=my_smtp_user
SMTP_PASSWORD=my_smtp_password

FRONTEND_URL=http://host:port